html {
    box-sizing: border-box;
  }

  
  *, ::before, ::after {
    box-sizing: inherit;
  }

body {
    text-align: center;
    /* background-color: #f4d0d0; */
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    font-weight: 300;
    margin-top: 0px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.pink {
    background-color: #f4d0d0; 
}

.content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background-image: url(images/okraj-horni.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* .menu {
    padding-block: 0.5em;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
}

.menu__item {
    padding: 0.5em;
    font-size: max(0.8rem, 2vw);
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 15px;
    align-self: center;
} */
.menu {
    background-color: #f4d0d0;

}



.menu__checkbox {
        position: absolute;
        left: -9999px;
    }

.menu__toggler {
        cursor: pointer;
        font-size: 3rem;
        text-align: center;
        display: block;
        color: black;
    }
 
.menu__box {
        display: none;
        margin: auto;
        width: 50%;
    }
        
.menu__item {
        display: block;
        padding: 0.5rem;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: black;
        font-size: max(1.2rem, 1.7vw) ;
    }
        
.menu__item:hover {
    /* color: variables.$c-hover;
    box-shadow: variables.$shadow; */
    border-radius: 5px;
}

.menu__checkbox:checked ~ .menu__box {
    display: block;
    
}

@media screen and (min-width: 610px) {
    
    .menu__toggler {
            display: none;
    }

    .menu__box {
            display: flex !important;
            width: 100%;
            justify-content: center;
    }
    .menu__item {
            padding: 0.5em;
    }
    
 }


.title {
    font-size: max(2rem, 5vw);
    font-weight: 200;
    margin-block: 3vw;
}

h2 {
    font-size: max(1rem, 2vw);
    font-weight: 500;
}

p {
    font-size: max(0.9rem, 1.7vw);
    margin-top: 4vh;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-size: max(1rem, 1.7vw);
}

.italic {
    font-style: italic;
}
.location {
    text-transform: uppercase;
}


.link-block:hover {
    background-color: #f6dbdb;
    border: 1px solid #e4b3b3;
    
}

.wrap {
    
    
    align-content: center;
    /* min-height: 100dvh; */
    padding: 3vh 1.5vw;

}


.section-part {
    margin-bottom: 4em;
}

.highlight {
    color: #be48a7;
    text-decoration: none;
}

.highlight-cite {
    
    font-style: italic;
}

.bold {
    font-weight: 500;
}

.hero {
    display: grid;
    grid-template-columns: auto 1fr auto;
    min-height: 87dvh;
}

.left, .right {
    width: 15vw;
    background-image: url(images/prsa-svisle.svg);
    background-repeat: repeat-y;
    background-position: top center;
}

/* hero-logo */
/* .hero-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
    gap: 2vw;
    margin-top: 4vh;
} */

.hero-logo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}

/* .hero-logo__code {
    width: max(120px,15vw);
    height: max(120px,15vw);
} */

.hero-logo__logo {
    width: max(300px,20vw);
    height: max(300px,20vw);
    margin: 5vh auto;
    /* grid-row: 1;
    grid-column: 1/span2; */
}


.hero-logo__small {
    width: clamp(100px,20vw, 200px);
    height: clamp(100px,20vw, 200px);
    margin: 5vh auto;
    /* grid-row: 1;
    grid-column: 1/span2; */
}


/* kontakty */
.contact__grid {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 4vh;
    align-items: center;
}

.card {
    max-width: 400px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 15px;
    border: 1px solid #e4b3b3;
    color: black;
    justify-self: center;

}

.card-reverse {
    flex-direction: row-reverse;
}
.card__pic {
    flex: 0 1 45%;
 }

.card__pic img{
    width: min(100%, 250px);
    border-radius: 50%;
    border: 1px solid #e4b3b3;
 }

.link__text {
    font-size: max(1.2rem, 2.5vw);
    color: black;
}


.social-media {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1em;
    padding-block: 5vh;
}


.icon {
    width: max(10px, 5vw);
    justify-self: center;
    flex-grow: 0;
    display: block;
}






.hover-highlight:hover {
    border-radius: 15px;
    box-shadow: 2px 2px 5px #e4b3b3;
    background-color: #f6dbdb;
    color: #723333;    
}

.navigation__item:hover {
    border: 1px solid #e4b3b3;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #e4b3b3;
    background-color: #f6dbdb;
    color: #723333;    
    
}





.link-inline {
    color: black;
}


/* .link__text:hover{
    color: #723333;
} */
.link-inline:hover {
    /* text-decoration: underline; */
    color: #723333;
    /* font-size: 0.9em;
    padding-inline: 0.221em; */
}
.link-mail {
    display: block;
    padding: 1rem
}


.hero-logo__code img:hover {
    border: 1px solid #e4b3b3;
}


.pre-footer {
    height: 6vw;
    background-image: url(images/okraj-dolni.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    flex: none;
}
.footer {
    height: 10dvh;
    background-color: #f4d0d0;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    background-image: url(images/prsa-vodorovne.svg);
    background-repeat: repeat-x;
    background-size: 100%;
    background-position: bottom;
    flex: none;
}



.footer p{
    font-size: 0.8rem;
    margin: 0;
}



@media screen and (min-width: 600px) {
    .hero-logo {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-logo__logo {
        grid-row: auto;
        grid-column: auto;
    }

    .wrap {
        padding-inline: 10vw;
    }


    .contact__grid {
        flex-direction: row;
        justify-content: center;
    }

    .card {
        flex-direction: column;
        max-width: 300px;
    }

    .footer {
        flex: none;
        background-size: 40%;
        background-position: bottom left;
    }
}